<div class="footerbody">
    <div class="container footerwrapper">
        <div class="footerlogo">
            <a href="javascript:void(0)"><content name='footerlogo78' id='78' > </content></a></div>

        <div class="footermenu">
            <a ui-sref="treatmentandservices">Treatments and Services</a>  &bull;
            <a ui-sref="products">Products</a>  &bull;
            <a ui-sref="aboutus">About the Spa</a>   &bull;
            <a ui-sref="reviews">Reviews</a>   &bull;
            <a ui-sref="contactus">Contact</a></div>


        <div class="footersociallink">
            <a href="javascript:void(0)"><img src="images/tink.png" alt="#"></a>
            <a href="javascript:void(0)"><img src="images/fink.png" alt="#"></a>
            <a href="javascript:void(0)"><img src="images/yink.png" alt="#"></a>
            <a href="javascript:void(0)"><img src="images/gink.png" alt="#"></a>

        </div>

        <div class="footercopyright">
            <content name='footercopyright80' id='80' > </content>

        </div>


    </div>

</div>