<div class="container-fluid mainbanner">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <!--<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>-->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
        <div class="mainimg">
            <div class="mainimgbg">
                <content name='topaboutusbanner235' id='235' > </content>
            </div>
            <div class="maininnercontent">
                <div class="maininnercontentleft">
                    <div class="maininnercontentleftimage">
                        <content name='innerbannerlogo223' id='223' > </content>
                    </div>
                </div>
                <div class="maininnercontentright">
                    <h2><content name='aboutusbannerh2236' id='236' > </content></h2>
                    <h4><content name='aboutusbannerh4237' id='237' > </content></h4>
                </div>
            </div>
        </div>

        <!--<content name='aboutusbanner2140' id='140' > </content>-->
    </div>
    
  </div>

  <!-- Left and right controls -->
<!--  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
   
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    
  </a>-->
</div>
</div>

<div class="container-fluid aboutusblock1">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 aboutusblock1title text-center">
                        <content name='aboutusblock1titleimage141' id='141' > </content>
                        <h4><content name='aboutusblock1titleh4142' id='142' > </content> </h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid aboutusblock2">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 aboutusblock2gallery">
                        <content name='aboutusblock2gallery143' id='143' > </content>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 aboutusblock2info">
                        <div class="clearfix"></div>
                        <div class="aboutusblock2text">
                            <h2><content name='aboutusblock2texth2144' id='144' > </content></h2>
                            <p>
                                <content name='aboutusblock2text_p145' id='145' > </content>
                            </p>
                            <div class="divider"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
