<div class="container-fluid mainbanner">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="mainimg">
                    <div class="mainimgbg">
                        <a style="display: block;" ng-mouseover="editlogo($event)">
                            <content name='topappointmentbanner367' id='367' > </content>
                        </a>
                    </div>
                    <div class="maininnercontent">
                        <div class="maininnercontentleft">
                            <div class="maininnercontentleftimage">
                                <content name='innerbannerlogo223' id='223' > </content>
                            </div>
                        </div>
                        <div class="maininnercontentright">
                            <h2><content name='appointmentbannerh2368' id='368' > </content></h2>
                            <h4><content name='appointmentbannerh4369' id='369' > </content></h4>
                        </div>
                    </div>
                </div>

                <!--<content name='contactusbanner146' id='146' > </content>-->
            </div>
        </div>
    </div>
</div>

<div class="container-fluid appointmentblock1">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <div class="newloginwrapper">
                    <div class="newaccountbtnwrapper appointmentblock11">
                        <div class="appointmentblock1inner">
                           <!-- <script type="text/javascript">daysmart_acc = "9f81d4c2-168d-4657-9a83-a6c5927eea63"; daysmart_iframe_width = 900; daysmart_iframe_height = 0; </script><script type="text/javascript" src="http://plugin.mysalononline.com/Scripts/external/bookingplugin.js"></script>-->
                      <iframe style="min-height: 650px; max-height: 700px;" frameborder="0" width="100%"  src="http://handsofhealing.influxiq.com/test.html"></iframe>
                            <!--<div style="min-height: 650px; max-height: 700px;" frameborder="0" width="100%"  ng-include="'http://handsofhealing.influxiq.com/test.html'"></div>-->
                            <div class="poploader">
                                <img src="../images/loading.gif">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
