<div class="container-fluid mainbanner">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="mainimg">
                    <div class="mainimgbg">
                        <content name='loginbanner254' id='254' > </content>
                    </div>
                    <div class="maininnercontent">
                        <div class="maininnercontentleft">
                            <div class="maininnercontentleftimage">
                                <content name='innerbannerlogo223' id='223' > </content>
                            </div>
                        </div>
                        <div class="maininnercontentright">
                            <h2><content name='changepassword277' id='277' > </content></h2>
                            <h4><content name='changepasswordbannerh4279' id='279' > </content></h4>
                        </div>
                    </div>
                </div>

               <!--<content name='loginbanner2161' id='161' > </content>-->
            </div>

        </div>


    </div>
</div>


<div class="container login_wrapper">

    <h2><content name='changepassword277' id='277'> </content></h2>
    <span ng-show="errormsg" class="error">{{errormsg}}</span>
    <form angular-validator-submit="changepassFormSubmit()"  name="changepassForm" class="trloginwrapper" novalidate angular-validator>


        <div class="form-group">

            <input placeholder="New password" type="password" class="form-control" name="password" ng-model="form.password"
                   required-message="'Password can not be blank.'"
                   required>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group">

            <input placeholder="Confirm password" type="password" class="form-control"  name="confirm_password"
                   ng-model="form.confirm_password"
                   required-message="'Confirm password  can not be blank.'"
                   validator="form.confirm_password === form.password"
                   invalid-message="'Passwords do not match!'"
                   required>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>



        <div class="clearfix"></div>

        <input type="submit" value="Change Password" class="loginbtn">


    </form>

    </div>