<script type="text/javascript">daysmart_acc = "9f81d4c2-168d-4657-9a83-a6c5927eea63"; daysmart_iframe_width = 500; daysmart_iframe_height = 0; </script><script type="text/javascript" src="http://plugin.mysalononline.com/Scripts/external/bookingplugin.js"></script>
<div class="footersociallink">

<div class="footerbody">
<div class="footertopcon">
<div class="div1">
<h2><content name='footerdiv1h281' id='81' > </content></h2>
<h3><content name='footerdiv1h382' id='82' > </content></h3>
</div>
<div class="div2">
<h2><content name='footerdiv2h283' id='83' > </content></h2>
<h3><content name='footerdiv2h384' id='84' > </content></h3>
</div>


<div class="div3">
<h2><content name='footerdiv3h285' id='85' > </content></h2>
<h3><a href="Tel:510-533-8487"><content name='footerdiv3h386' id='86' > </content></a></h3>
</div>

<div class="div4">
<a ng-click="appointment()"><h2><content name='footerdiv4h287' id='87' > </content></h2></a>
   <a ui-sref="appointment"><h3><content name='footerdiv4h388' id='88' > </content></h3></a>
   <!-- <a ng-click="test()" ><h3><content name='footerdiv4h388' id='88' > </content></h3></a>-->
</div>



<div class="clearfix"></div>
</div>


<div class="container footerwrapper">
<div class="footerlogo">
    <a ui-sref="index" href="javascript:void(0)"><content name='footerlogo78' id='78' > </content></a></div>

<div class="footermenu">
    <a ui-sref="treatmentandservices">Treatments and Services</a>  &bull;
    <a ui-sref="products">Products</a>  &bull;
    <a ui-sref="aboutus">About the Spa</a>   &bull;
    <a ui-sref="reviews">Reviews</a>   &bull;
    <a ui-sref="newsletter">Newsletter</a>   &bull;
    <a ui-sref="locations">Locations</a>   &bull;
    <a ui-sref="contactus">Contact</a>   &bull;
    <a ng-show="userid==0" ui-sref="login">Login   &bull;</a>
    <a ng-show="userid==0" ui-sref="signup">Signup</a>
    <a ui-sref="dashboard" ng-show="userroleid==1 || userroleid == 2">Dashboard   &bull;</a>
    <a ui-sref="profile" ng-show="userid!=0">Profile   &bull;</a>
    <a href="javascript:void(0)" ng-show="userid!=0" ng-click="logout();">Logout</a>
</div>


<a href="https://twitter.com/hohspa" target="_blank"><img src="images/tink.jpg" alt="#"></a>
<a href="https://www.facebook.com/HandsofHealingMassageandSpaStudio/" target="_blank"><img src="images/fink.jpg" alt="#"></a>
<a href="http://www.yelp.com/biz/hands-of-healing-massage-and-spa-studio-hayward" target="_blank"><img src="images/yink.jpg" alt="#"></a>
<a  href="https://plus.google.com/101955857908281504686" target="_blank"><img src="images/gink.jpg" alt="#"></a>
    <div class="footercopyright">
        <content name='footercopyright80' id='80' > </content>

    </div>
</div>




</div>

</div>



<script type="text/ng-template" id="appointmentmodal.html">

    <div class="newlogin-box">

        <a href="javascript:void(0);" ng-click="cancel()" ><img src=images/newloginclose.png alt=#  class="closebtn"/></a>

        <div class="newloginwrapper">
            <div class="newaccountbtnwrapper">

                <iframe frameborder="0" width="100%" height="510" src="http://handsofhealing.influxiq.com/test.html"></iframe>
                <div class="poploader">
                    <img src="../images/loading.gif">
                </div>
            </div>

        </div>

    </div>

</script>