<div class="container-fluid mainbanner">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!--<ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>-->

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="mainimg">
                    <div class="mainimgbg">
                        <a style="display: block;" ng-mouseover="editlogo($event)">
                            <content name='locationbanner226' id='226' > </content>
                        </a>
                    </div>
                    <div class="maininnercontent">
                        <div class="maininnercontentleft">
                            <div class="maininnercontentleftimage">
                                <content name='innerbannerlogo223' id='223' > </content>
                            </div>
                        </div>
                        <div class="maininnercontentright">
                            <h2><content name='locationbannerh2227' id='227' > </content></h2>
                            <h4><content name='Locationbannerh4228' id='228' > </content></h4>
                        </div>
                    </div>
                </div>
                <!--<content name='locationbanner185' id='185' > </content>-->
            </div>

        </div>

        <!-- Left and right controls -->
        <!--  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>

          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

          </a>-->
    </div>
</div>


<div class="container-fluid aboutusblock1">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 aboutusblock1title text-center">
                        <content name='aboutusblock1titleimage141' id='141' > </content>
                        <h4><content name='locationstext2194' id='194' > </content> </h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>



        <div class="locationwrapper">


            <div class="location_left">
                <div class="locationleftblock1">

                    <div class="locationimg1"><content name='locationimg3191' id='191' > </content></div>

                    <div class="locationaddress1">
                        <content name='locationstext2178' id='178' > </content>

                    </div>

                    <!--<div class="directionstext">
                        <img src="../images/locationicon2.png" alt="#">
                        <a href="javascript:void(0)"> Directions</a>
                    </div>-->

                    <div class="clearfix"></div>

                </div>

                <!--<div class="locationleftblock2">
                    <a href="javascript:void(0)"><img src="../images/location_link1.png" alt="#"></a>
                    <a href="javascript:void(0)"><img src="../images/location_link2.png" alt="#"></a>
                    <a href="javascript:void(0)"><img src="../images/location_link3.png" alt="#"></a>
                    <a href="javascript:void(0)"><img src="../images/location_link4.png" alt="#"></a>
                    <div class="clearfix"></div>
                </div>-->

                <div class="locationleftblock3">

                    <h1><content name='locationleftblock3_link2184' id='184' > </content></h1>
                    <h2> <a href="javascript:void(0)"><content name='locationleftblock3_link3186' id='186' > </content></a></h2>
                    <h3> <a href="javascript:void(0)"><content name='locationleftblock3_link4187' id='187' > </content></a></h3>
                    <h4> <a href="javascript:void(0)"><content name='locationleftblock3_link5188' id='188' > </content></a></h4>
                   <!-- <h5> <a href="javascript:void(0)"><content name='locationleftblock3_link6189' id='189' > </content></a></h5>-->
                </div>

                <div class="locationleftblock4">
                    <content name='locationimg4192' id='192' > </content>
                    </div>

            </div>

            <div class="location_right"><content name='locationmap176' id='176' > </content></div>

            <div class="clearfix"></div>

        </div>
