<div class="container-fluid mainbanner">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="mainimg">
                    <div class="mainimgbg">
                        <content name='newsletterbanner229' id='229' > </content>
                    </div>
                    <div class="maininnercontent">
                        <div class="maininnercontentleft">
                            <div class="maininnercontentleftimage">
                                <content name='innerbannerlogo223' id='223' > </content>
                            </div>
                        </div>
                        <div class="maininnercontentright">
                            <h2><content name='newsletterbannerh2230' id='230' > </content></h2>
                            <h4><content name='newsletterbannerh4231' id='231' > </content></h4>
                        </div>
                    </div>
                </div>

                <!--<img src="../images/topnewletterbanner.jpg" alt="topnewletterbanner">-->
            </div>
        </div>
    </div>
</div>

<div class="container-fluid newsletterblock1">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 newsletterblock1title text-center">
                        <h4>Where beauty meets health meets news. Check out what’s happening now!</h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid newsletterblock4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 textblock text-center">
                        <h2 ng-bind="details.newsletter_name"></h2>

                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <img src="nodeserver/uploads/{{details.newsletter_file}}" alt="newsletterblock4 image1">
                        <!--<img src="../images/newsletterblock4img1.jpg" alt="newsletterblock4 image1">-->
                        <p  ng-bind-html="trustAsHtml(details.newsletter_desc)"></p>
                     <!--   <p>By: Sukari Dixon Ever wondered how long you should keep that eye shadow or mascara in your make up kit? Or what tools you need in your kit to create a fabulous face whenever you want? Check out this great list of make-up tips and tricks! </p>-->
                        <br><br>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
