<div class="doc-list-wrapper" data-docs="docs" style="margin-top: 25px;margin-right: 0;margin-left: 0;"></div>
   <script type="text/ng-template" id="tmpl-doc-list-wrapper">
      <div class="doc-list product_gallery_contain " bx-slider minSlides="1" maxSlides="4" slideWidth="287" infiniteLoop="false">
        <!--<li class="doc-thumbnail" ng-repeat="doc in docs" bx-slider-item style="height: 124px;">
                <div ng-repeat="doc in productslists" bx-slider-item style="height: 124px;" class="pro_menudiv" >
                    <a ui-sref="productlisting({id:doc.id})" href="javascript:void(0)" ng-bind="doc.cat_name"></a>
                </div>
            </li>-->
		<div class="product_box2" ng-repeat="doc in docs" bx-slider-item style="height: 375px;">
            <div class="proimg2">
                <img src="http://handsofhealing.influxiq.com/nodeserver/uploads/{{doc.product_file}}" >
            </div>
            <div class="proprice2">${{doc.price.toFixed(2)}}</div>
            <a href="javascript:void(0)" class="procartbtn2" ng-click="addtocart5(doc.id)">Add to Cart</a>
        </div>
     </div>
</script>
