<div class="container-fluid mainbanner">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="mainimg">
                    <div class="mainimgbg">
                        <content name='topproductbanner238' id='238' > </content>
                    </div>
                    <div class="maininnercontent">
                        <div class="maininnercontentleft">
                            <div class="maininnercontentleftimage">
                                <content name='innerbannerlogo223' id='223' > </content>
                            </div>
                        </div>
                        <div class="maininnercontentright">
                            <h2><content name='productbannerh2239' id='239' > </content></h2>
                            <h4><content name='productbannerh4240' id='240' > </content></h4>
                        </div>
                    </div>
                </div>
               <!-- <img src="../images/topproductsbanner.jpg">-->
            </div>
        </div>
    </div>
</div>

<div class="container-fluid productsblock1">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 productsblock1title text-center">
                        <content name='aboutusblock1titleimage141' id='141' > </content>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid productsblock2">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 productsblocktitle text-center">
                        <div class="productdivider">
                            <h2><span>Jeunesse</span></h2>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 productsblockbox">
                        <img src="../images/productsblock2img1.jpg" alt="productsblock2 img1">
                        <div class="productsblock2text">
                            <h3>Wouldn't it be cool if someone took a global leader in anti-aging and</h3>
                            <h1>broke the mold <span>?</span></h1>
                        </div>
                        <div class="productsblock2boxbottom">
                            <p>Jeunesse is not the same old story of skin care and supplements. We are not the same old network model. Jeunesse is a global business that helps people reach their full potential in youthful looks, in healthy living, in embracing life.</p>
                            <div class="clearfix"></div>
                            <div class="bottomwrapper">
                                <div class="bottomwrapperleft">
                                    <h2>WE ARE <span>REDEFINING</span> YOUTH</h2>
                                </div>
                                <div class="bottomwrapperright">
                                    <div class="btnbuynow"><a target="_blank" href="https://hohspaskin.jeunesseglobal.com/">Buy Now <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid productsblock3">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 productsblocktitle text-center">
                        <div class="productdivider">
                            <h2><span>doterra</span></h2>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 productsblockbox">
                        <img src="../images/productsblock3img1.png" alt="productsblock3 img1">
                        <div class="productsblock3text">
                            <h1>The doTERRA collection</h1>
                            <h3>of single essential oils represents the finest aromatic extracts available in the world today. Each oil provides the living essence of its source, gently distilled from plants that are nurtured and carefully harvested throughout the world. Each oil is subjected to strict standards of purity and potency as well as a battery of thorough testing. A beautiful palate of botanical energies, they can be used individually or blended for personalized essential oil therapies.
dōTERRA products are sold exclusively through Wellness Advocates. Working from home, these advocates introduce, educate about, and sell dōTERRA products in their local markets through person-to-person contact and globally through personalized web shopping sites.</h3>
                        </div>
                        <div class="productsblock3boxbottom">
                            <ul>
                                <li><img src="../images/productimg1.png" alt="productimg1"></li>
                                <li><img src="../images/productimg2.png" alt="productimg2"></li>
                                <li><img src="../images/productimg3.png" alt="productimg3"></li>
                                <li><img src="../images/productimg4.png" alt="productimg4"></li>
                                <li><img src="../images/productimg5.png" alt="productimg5"></li>
                            </ul>
                            <div class="clearfix"></div>
                            <div class="bottomwrapper">
                                <div class="bottomwrapperleft">
                                    <p>dōTERRA products are sold exclusively through Wellness Advocates. Working from home, these advocates introduce, educate about, and sell dōTERRA products in their local markets through person-to-person contact and globally through personalized web shopping sites.</p>
                                </div>
                                <div class="bottomwrapperright">
                                    <div class="btnbuynow"> <a target="_blank" href="http://www.mydoterra.com/hohspa">Buy Now <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid productsblock4">
   <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="container">
             <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 productsblocktitle text-center">
                    <div class="productdivider">
                                <h2><span>Hands of Healing</span></h2>
                            </div>
                </div>
                <div class="clearfix"></div>
             </div>
             <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 productsblockbox">
                    <img src="../images/productsblock4image1.jpg" alt="productsblock4 img1">
                    <div class="productsblock4text">
                                <h2>Our professional and courteous staff invites you to relax and pamper yourself at Hands of Healing Massage & Spa Studio</h2>
                                <div class="spandiv">
                                    <span>Nestled in downtown Hayward, Hands of Healing Massage & Spa Studio is your local hidden retreat, allowing you to escape from your daily stressors.<br><br> Pamper yourself with a therapeutic massage, soothing facial, or an indulgent spa treatment. Bask in the soothing sounds of ethereal fountains and tranquil music while resting on heated massage tables, surrounded by aroma therapeutic fragrances. </span>
                                </div>
                                <p>Nestled in downtown Hayward, Hands of Healing Massage & Spa Studio is your local hidden retreat, allowing you to escape from your daily stressors ... <br><br> Haute. Probably more than any other professional nail care product it produces, OPI is renowned globally for its Nail Lacquers, with each shade created by Weiss-Fischmann based on her impeccable color forecasting, sense of style, and instinct for what women want ...</p>
                            </div>
                    <div class="productsblock4boxbottom">
                       <div class="clearfix"></div>
                       <div class="bottomwrapper">
                           <div class="bottomwrapperleft">
                               <p>By: Sukari Dixon Ever wondered how long you should keep that eye shadow or mascara in your make up kit? Or what tools you need in your kit to create a fabulous face whenever you want? Check out this great list of make-up tips and tricks! ... </p>
                           </div>
                           <div class="bottomwrapperright">
                               <div class="btnbuynow"><a ui-sref="productlisting({id:0})"> Buy Now <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                           </div>
                       </div>
                    </div>
                </div>
                <div class="clearfix"></div>
             </div>
          </div>
      </div>
   </div>
</div>

<div class="container-fluid productsblock5">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 productsblocktitle text-center">
                        <div class="productdivider">
                            <h2><span>Younique</span></h2>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 productsblockbox">
                        <img src="../images/productsblock5img1.jpg" alt="productsblock5 img1">
                        <div class="productsblock5text text-center">
                            <h2>Uplift. empower. validate.</h2>
                            <p>Younique's mission is to uplift, empower, validate, and ultimately build self-esteem in women around the world through high-quality products that encourage both inner and outer beauty and spiritual enlightenment while also providing opportunities for personal growth and financial reward.</p>
                        </div>
                        <div class="productsblock5boxbottom">
                            <div class="clearfix"></div>
                            <div class="bottomwrapper">
                                <div class="bottomwrapperleft">
                                    <p>Younique's cosmetics development processes utilize scientific research to ensure that our products contain high quality ingredients that enrich and nourish the skin. The result is a beautifully efficacious product that is safely compatible with virtually every skin type.<br><br>
                                        Younique begins by looking to Mother Nature for the inspiration behind our cosmetics. Our in-house scientific team then formulates a product that honors that inspiration while delivering cutting-edge cosmetics. Our goal is to provide healthy, clean, and pure cosmetics.</p>
                                </div>
                                <div class="bottomwrapperright">
                                    <div class="btnbuynow"> <a target="_blank" href="http://youniqueproducts.com/HOHSpalashes">Buy Now <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>