<div class="container-fluid mainbanner">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="mainimg">
                    <div class="mainimgbg">
                        <a style="display: block;" ng-mouseover="editlogo($event)">
                            <content name='topreviewbanner232' id='232' > </content>
                        </a>
                    </div>
                    <div class="maininnercontent">
                        <div class="maininnercontentleft">
                            <div class="maininnercontentleftimage">
                                <content name='innerbannerlogo223' id='223' > </content>
                            </div>
                        </div>
                        <div class="maininnercontentright">
                            <h2><content name='reviewbannerh2233' id='233' > </content></h2>
                            <h4><content name='reviewbannerh4234' id='234' > </content></h4>
                        </div>
                    </div>
                </div>
                <!--<content name='topreviewbanner163' id='163' > </content>-->
            </div>
        </div>
    </div>
</div>

<div class="container-fluid reviewsblock1">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reviewsblock1title text-center">
                        <content name='aboutusblock1titleimage141' id='141' > </content>
                        <h4><content name='reviewsblock1titleh4164' id='164' > </content></h4>
                        <span class="yelpimg"><a href="http://www.yelp.com/biz/hands-of-healing-massage-and-spa-studio-hayward" target="_blank"><content name='reviewsblock1titleh4image165' id='165' > </content></a></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid reviewsblock2">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reviewsblock2wrapper reviewsblock2sample1">
                        <div class="upper_left"></div>
                        <div class="upper_center"></div>
                        <div class="upper_right"></div>
                        <div class="lower_left"></div>
                        <div class="lower_right"></div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <content name='reviewsblock2wrapperreviewsone310' id='310' > </content>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 reviewdocs">
                                <content name='reviewsblock2wrapperuserimg311' id='311' > </content>
                                <p><content name='reviewdocsp312' id='312' > </content></p>
                                <h4><content name='reviewdocsh4313' id='313' > </content></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reviewsblock2wrapper reviewsblock2sample2">
                        <div class="upper_left"></div>
                        <div class="upper_center"></div>
                        <div class="upper_right"></div>
                        <div class="lower_left"></div>
                        <div class="lower_right"></div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <content name='reviewsblock2wrapperreviewstwo314' id='314' > </content>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 reviewdocs">
                                <content name='reviewsblock2wrapperuserimg2315' id='315' > </content>
                                <p><content name='reviewdocsp2316' id='316' > </content></p>
                                <h4><content name='reviewdocs2h4317' id='317' > </content></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reviewsblock2wrapper reviewsblock2sample1">
                        <div class="upper_left"></div>
                        <div class="upper_center"></div>
                        <div class="upper_right"></div>
                        <div class="lower_left"></div>
                        <div class="lower_right"></div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <content name='reviewsblock2wrapperreviewsthree318' id='318' > </content>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 reviewdocs">
                                <content name='reviewdocsuserimg3319' id='319' > </content>
                                <p><content name='reviewdocsp3320' id='320' > </content></p>
                                <h4><content name='reviewdocs3h4321' id='321' > </content></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reviewsblock2wrapper reviewsblock2sample2">
                        <div class="upper_left"></div>
                        <div class="upper_center"></div>
                        <div class="upper_right"></div>
                        <div class="lower_left"></div>
                        <div class="lower_right"></div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <content name='reviewsblock2wrapperreviewsfour322' id='322' > </content>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 reviewdocs">
                                <content name='reviewdocsuserimg4323' id='323' > </content>
                                <p><content name='reviewdocsp4324' id='324' > </content></p>
                                <h4><content name='reviewdocs4h4325' id='325' > </content></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reviewsblock2wrapper reviewsblock2sample1">
                        <div class="upper_left"></div>
                        <div class="upper_center"></div>
                        <div class="upper_right"></div>
                        <div class="lower_left"></div>
                        <div class="lower_right"></div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <content name='reviewsblock2wrapperreviewsfive326' id='326' > </content>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 reviewdocs">
                                <content name='reviewdocsuserimg5327' id='327' > </content>
                                <p><content name='reviewdocsp5328' id='328' > </content></p>
                                <h4><content name='reviewdocs5h4329' id='329' > </content></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reviewsblock2wrapper reviewsblock2sample2">
                        <div class="upper_left"></div>
                        <div class="upper_center"></div>
                        <div class="upper_right"></div>
                        <div class="lower_left"></div>
                        <div class="lower_right"></div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <content name='reviewsblock2wrapperreviewssix330' id='330' > </content>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 reviewdocs">
                                <content name='reviewdocsuserimg6331' id='331' > </content>
                                <p><content name='reviewdocsp6332' id='332' > </content></p>
                                <h4><content name='reviewdocs6h4333' id='333' > </content></h4>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="viewmorewrraper">
                    <a href="http://www.yelp.com/biz/hands-of-healing-massage-and-spa-studio-hayward" target="_blank" class="viewmore">View More</a><a href="http://www.yelp.com/biz/hands-of-healing-massage-and-spa-studio-hayward" target="_blank"><img src="../images/reviews-yelp.png"></a>

                    </div>

            </div>
        </div>
    </div>
</div>
