<div class="container-fluid mainbanner">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="mainimg">
                    <div class="mainimgbg">
                        <a style="display: block;" ng-mouseover="editlogo($event)">
                            <content name='toptreatmentnservicesinnerpagebanner251' id='251' > </content>
                        </a>
                    </div>
                    <div class="maininnercontent">
                        <div class="maininnercontentleft">
                            <div class="maininnercontentleftimage">
                                <content name='innerbannerlogo223' id='223' > </content>
                            </div>
                        </div>
                        <div class="maininnercontentright">
                            <h2><content name='treatmentnservicesinnerpagebannerh2252' id='252' > </content></h2>
                            <h4><content name='treatmentnservicesinnerpagebannerh4253' id='253' > </content></h4>
                            <div class="bannerbuttons">
                                <!--<a ui-sref="productdetails({id:11,name:caturl('BRONZE')})" class="btn btn-primary btnbronz"><span><content name='bannerbuttonsone199' id='199' > </content></span></a>-->
                                <a ui-sref="treatmentandservicesinnerpage({id:16,name:caturl('spa packages')})" class="btn btn-primary btnbronz"><span><content name='bannerbuttonsone199' id='199' > </content></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid treatmentnservicesinnerpageblock1">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <div class="row treatmentnservicesinnerpageblock1wrapper">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 treatmentnservicesinnerpageblock1left">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 treatmentinnerpageblock1wrapper innerpageblock1left">
                                            <div class="upper_left"></div>
                                            <div class="upper_right"></div>
                                            <div class="lower_left"></div>
                                            <div class="lower_right"></div>
                                            <h1>Home</h1>
                                            <h2>Treatments And Services</h2>
                                            <ul>
                                                <li ng-repeat=" itemleft in  filterResult = (servicecategorylist |filter:{status:1})  | orderBy:predicate:reverse"><a ui-sref="treatmentandservicesinnerpage({id:itemleft.id,name:caturl(itemleft.cat_name)})" ng-bind="itemleft.cat_name"></a></li>

                                                <!--<li><a href="">Massage Therapy</a></li>
                                                <li><a href="">Skin Therapy</a></li>
                                                <li><a href="">Nail Services</a></li>
                                                <li><a href="">Spa Packages</a></li>
                                                <li><a href="">Waxing</a></li>
                                                <li><a href="">Treatments</a></li>
                                                <li><a href="">SaunaGen Infrared Sauna</a></li>
                                                <li><a href="">Mini Facials</a></li>
                                                <li><a href="">Makeup & Eyelashes</a></li>-->
                                            </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 treatmentinnerpageblock1wrapper innerpageblock2left">
                                        <div class="upper_left"></div>
                                        <div class="upper_right"></div>
                                        <div class="lower_left"></div>
                                        <div class="lower_right"></div>
                                        <a target="_blank" href="https://hohspaskin.jeunesseglobal.com/"><h2>Jeunesse</h2></a>
                                        <!--<h2>Jeunesse</h2>-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 treatmentinnerpageblock1wrapper innerpageblock3left">
                                        <div class="upper_left"></div>
                                        <div class="upper_right"></div>
                                        <div class="lower_left"></div>
                                        <div class="lower_right"></div>
                                        <a target="_blank" href="http://www.mydoterra.com/hohspa"><h2>Doterra</h2></a>
                                       <!-- <h2>Doterra</h2>-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 treatmentinnerpageblock1wrapper innerpageblock4left">
                                        <div class="upper_left"></div>
                                        <div class="upper_right"></div>
                                        <div class="lower_left"></div>
                                        <div class="lower_right"></div>
                                        <a ui-sref="productlisting({id:0,name:'all'})"><h2>Hands of Healing</h2></a>
                                       <!-- <h2>Hands of Healing</h2>-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 treatmentinnerpageblock1wrapper innerpageblock5left">
                                        <div class="upper_left"></div>
                                        <div class="upper_right"></div>
                                        <div class="lower_left"></div>
                                        <div class="lower_right"></div>
                                        <a target="_blank" href="http://youniqueproducts.com/HOHSpalashes"><h2>Younique</h2></a>
                                       <!-- <h2>Younique</h2>-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 innerpageblock6left">
                                        <img src="../images/treatmentleftimage1.jpg">
                                    </div>
                                </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 treatmentnservicesinnerpageblock1right">
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 innerpageblock2right">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 innerpagetextblock">
                                            <!--<h2>Spa Packages</h2>-->
                                            <h2 ng-bind="categorydetails[0].cat_name"></h2>
                                            <!--<p ng-bind-html="trustAsHtml(categorydetails[0].cat_desc)"></p>-->
                                            <!--<img src="../images/spamessagetherapyinnerpage.jpg" alt="spa messgae therapy">-->
                                            <div class="imginnertherapy">
                                                <img src="http://handsofhealing.influxiq.com/nodeserver/uploads/{{categorydetails[0].cat_image}}" alt="spa messgae therapy">
                                            </div>

                                            <div class="col-md-4_textcon" >
                                                <div   class="single_col-md-4_textcon" ng-repeat="itemproduct in  servicecategorywiseproductlist |  orderBy:predicate:reverse">
                                                    <h4><strong ng-bind="itemproduct.product_name"></strong><span>${{itemproduct.price}}</span>
                                                        <div class="clearfix"></div>
                                                    </h4>
                                                    <p ng-bind-html="trustAsHtml(itemproduct.product_desc)"></p>
                                                    <div class="btnadd"><a href="javascript:void(0)" ng-click="addtocart(itemproduct.id)">+ add</a></div>
                                                </div>
                          <!--                      <div class="single_col-md-4_textcon">
                                                    <h4><strong>Platinum</strong><span>$285</span>
                                                        <div class="clearfix"></div>
                                                    </h4>
                                                    <p>Full Body Massage w/ Aromatherapy Body Scrub/Wrap European Signature Facial Manicure Deluxe Pedicure Lunch and Beverage</p>
                                                    <div class="btnadd">+ add</div>
                                                </div>
                                                <div class="single_col-md-4_textcon">
                                                    <h4><strong>Silver</strong><span>$145</span>
                                                        <div class="clearfix"></div>
                                                    </h4>
                                                    <p>½ Body Massage Observation/Maintenance Facial Manicure Pedicure Light Lunch and Beverage</p>
                                                    <div class="btnadd">+ add</div>
                                                </div>

                                                <div class="single_col-md-4_textcon">
                                                    <h4><strong>Men’s Delight</strong><span>$100</span>
                                                        <div class="clearfix"></div>
                                                    </h4>
                                                    <p>½ Body Massage or Back Treatment Maintenance Facial Manicure Light Lunch and Beverage</p>
                                                    <div class="btnadd">+ add</div>
                                                </div>
                                                <div class="single_col-md-4_textcon">
                                                    <h4><strong>Gold</strong><span>$245</span>
                                                        <div class="clearfix"></div>
                                                    </h4>
                                                    <p>Full Body Massage Body Scrub Observation/Maintenance Facial Manicure Pedicure Light Lunch and Beverage</p>
                                                    <div class="btnadd">+ add</div>
                                                </div>-->
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>



